
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background: white;
            line-height: 1.6;
        }

        section {
            padding: 30px;
            margin: 20px;
            background: beige;
            border-radius: 8px;
        }

        h2 {
            margin-bottom: 15px;
            color: brown;
        }

        header {
            background: brown;
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            margin-top: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }

        .hero {
            text-align: center;
        }

        .products {
            display: flex;
            gap: 15px;
        }

        .card {
            flex: 1;
            background: #ffe4c4;
            padding: 15px;
            border-radius: 6px;
            text-align: center;
        }

        .card img {
            width: 100px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            text-align: center;
        }

        form input,
        form select,
        form textarea {
            width: 250px;
            padding: 6px;
            margin: 6px 0;
        }

        button {
            padding: 8px 15px;
            background: brown;
            color: beige;
            border: none;
            cursor: pointer;
        }

        footer {
            background: brown;
            color: beige;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }

        .card:hover,.card:hover img{
            transform: translateY(-10px);
            transition: ease-in 0.3s;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            transform: scale(1.05);
            
        }

        .card img
        {
            border-radius: 10px;
            transition: ease-in 0.3s;
            
        }
        